<form id="myForm" class="grid">
  <fieldset>
    <article>
      <select name="tipo-mascota">
        <option value="mascota">Mascota</option>
        <option value="perro">Perro</option>
      </select>
      <div id="otros-campos" class="grid oculto">
        <div class="field">
          <label required for="race">Raza</label>
          <input placeholder="Pastor aleman" type="text" name="race" id="race">
          <ins>Este campo es obligatorio</ins>
        </div>
        <div class="food">
          <label required for="food">Alimentación</label>
          <input type="text" name="food" id="food">
        </div>
        <div class="weight">
          <label required for="weight">Peso</label>
          <input type="number" min="0" name="weight" id="weight" pattern="[0-9 ]+" title="Sólo números positivos">
        </div>
      </div>
    </article>
    <div class="grid">
      <div class="field">
        <label for="name"><span data-tooltip="Sólo caracteres">Nombre *</span></label>
        <input placeholder="Lyly" required type="text" name="name" id="name" pattern="[a-z A-Z]+" title="Sólo se admiten caracteres">
        <ins>Este campo es obligatorio</ins>
      </div>
      <div class="field">
        <label required for="microchip">Microchip</label>
        <input placeholder="123456789012345" type="text" name="microchip" id="microchip">
        <ins>Este campo es obligatorio</ins>
      </div>
    </div>
    <div class="field">
      <label for="type">Tipo</label>
      <input placeholder="tipo" type="text" name="type" id="type">
    </div>
    <div class="grid">
      <div class="field">
        <label for="age">Edad</label>
        <input placeholder="0" type="number" min="0" max="100" disabled name="age" id="age">
        <input type="range" id="range-age" min="0" mas="100" value="0">
      </div>
      <div class="field">
        <legend>Sexo</legend>
        <label>
          <input checked type="radio" name="gender" value="f">
          Hembra
        </label>
        <label>
          <input type="radio" name="gender" value="m">
          Macho
        </label>
      </div>
    </div>
    <button>Nueva mascota</button>
  </fieldset>
  <div id="content"></div>
</form>